{% load static%}
<style>
    h1{
        position:absolute;
        color:white;
        text-align:center;
        top:220px;
    }
    h4{
        color:white;
    }
    a{
        color: white;
        text-decoration: none;
     }
     a:hover{
         font-size:large;
         box-shadow: 10px 10px 13px  black;
     }
</style>
<body background="{%static 'images\images (2).jpeg'%}">
    <a href="menu">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;MENU</a>
   <h4> This is the time and date you made the order: {{ time}} </h4>
    <h1> YOUR FOOD WOULD BE DELIVERED TO YOUR LOCATION IN THE NEXT {{time2}}<br>THANKS😊 </h1>
    
</body>